{% extends "public/base.html" %}

{% block content %}
<html>
<head>
<style>
<!--table {-->
    <!--font-family: arial, sans-serif;-->
    <!--border-collapse: collapse;-->
    <!--width: 100%;-->
<!--}-->

<!--td, th {-->
    <!--border: 1px solid #dddddd;-->
    <!--text-align: left;-->
    <!--padding: 8px;-->
<!--}-->

<!--tr:nth-child(even) {-->
    <!--background-color: #dddddd;-->
<!--}-->
</style>
</head>
<body>








<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <thead class="thead-dark">
    <th>Class</th>
    <th>Instructor</th>
    <th>Class Title</th>
     <th>Instructor</th>
        <th>Times</th>
    </thead>
  </tr>

  {% for course in class_list %}
    <tr>
        <th><a href="{% url 'class' course.course_id %}">{{course.course_id}}</a></th>
        <th>{{course.instructor}}</th>
        <th>{{course.full_title}}</th>
        <th>{{course.instructor}}</th>
        <th>{{course.times}}</th>

    </tr>
            {% endfor %}

</table>
<div/>
</body>
</html>

{% endblock %}
