{% extends "public/base.html" %}
{% load static %}
{% block content %}


<head>
    <title>Classy @ Macalester</title>
<style>
  #advanced-search{
      min-width: 450px;
      color: black;
  }
    .featured-card{
        height: 500px;
    }
    .featured-card-text{
        height: 250px;
        overflow: hidden;
    }
    .card-body{
        height: 420px;
    }
    .view-details{
        height: 100%;
    }
    .dropdown-menu{
        padding-left: 12px;
        padding-top: 12px;
        padding-right: 12px;
    }


</style>

<!--Fixes bug in dropdown menu-->
<script>
$(document).on('click', '.dropdown-menu', function (e) {
    e.stopPropagation();
});
</script>

</head>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Let's be smarter about choosing classes, too.</h1>
        <br>
        <form class="input-group stylish-input-group" action="/advancedresults/" method="post">
             <div class="form-inline">
                  <div class="form-group">
                    <input id="advanced-search" type="search" class="form-control" name = "query" placeholder="Find a class">
                    {% csrf_token %}
                  </div>
                  <button type="submit" class="btn btn-primary">Search</button>
             </div>
                <div class="btn-group"  role="group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="true"><span class="caret"></span>Advanced</button>
                        <div class="dropdown-menu" role="menu">
                           <form class="dropdown-menu px-4 py-3">
                              <div class="form-group">
                                <label for="filter">Filter by</label>
                                <select class="custom-select" name="category" class="form-control">
                                    <option name="category" value="0" selected>All</option>
                                    <option name="category" value="1">Instructor</option>
                                    <option name="category" value="2">Department</option>
                                    <option name="category" value="3">Class Title</option>
                                    <option name="category" value="4">Top rated</option>
                                    <option name="category" value="5">Most commented</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="text" placeholder="Ratings" />
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="text" placeholder="Contains the words..." />
                              </div>
                              <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"
                                                                                   aria-hidden="true"></span>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
          </form>
    </form>
    </div>
    </div>
    </div>

<div class="container">
  <h2 class="display-3" style="text-align:center;">Featured Courses</h2><br>
    <div class="row featured-card" style="">
        {% for class in most_popular %}
                 <div class="col">
                    <div class="card bg-light mb-3">
                          <div class="card-header">{{class.instructor}} | {{class.days}} | {{class.times}}</div>
                   <div class="card-body">

                        <h4 class="card-title">{{class.full_title}}</h4>
                       <div class="featured-card-text">
                           <p>{{class.description|safe}}</p>
                       </div>
                <div class="view-details">
                    <p><a class="btn btn-secondary" href="/class/{{class.course_id}}" role="button">View details &raquo;</a></p>
                </div>
            </div></div>
            </div>
            {% endfor %}
    </div>

  <hr>

</div> <!-- /container -->

</main>

<footer class="container">
  <p> Software Dev Team 3</p>
</footer>


{% endblock %}
