{% extends "public/base.html" %}

{% block content %}
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>



<h2>Course List</h2>

<table>
    <tr>
    <th>Class</th>
    <th>Instructor</th>
    <th>Class Title</th>
  </tr>

  {% for course in class_list %}
    <tr>
        <th>{{course.title}}</th>
        <th>{{course.instructor}}</th>
        <th>{{course.description}}</th>

    </tr>
            {% endfor %}

</table>

</body>
</html>

{% endblock %}