{% extends "public/base.html" %}
{% load staticfiles %}
{% block content %}

<style>
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
</style>
<body>

<div class = container>
    <div class = center>
    <form method="POST" >
        {% csrf_token %}

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" placeholder="username">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
        </div>

        <!--<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>-->
        <button type="submit" class="btn btn-primary">Login</button>

    </form>

    <small>Don't have an account? <a href="{% url 'signup' %}">Click here to sign up!</a></small>
</div>

    </div>
</body>

{% endblock %}
