{% extends "public/base.html" %}
{% load pinax_ratings_tags %}
{% load ratings %}
{% block content %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>




{% ratings objects %}
<div class="container">
    <h2>Submit a Rating for {{name}}</h2><br><br>
    <form action="/submit_review/{{name}}/" method="post">
    <div class="row">
        <div class="col-sm-3"><p>Hours spent per week:&nbsp;</p></div>
        <div class="col">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" autocomplete="off" checked> 0-1
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> 2-4
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> 5-7
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> 7-9
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> 10+
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><p>Cost of textbooks:&nbsp;</p></div>
        <div class="col">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">

                <label class="btn btn-secondary active">
                    <input type="radio" name="options" autocomplete="off" checked> No Textbook
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> $1-50
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> $50-100
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> $100-200
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> $200+
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"><p>Would you recommend this course to a friend?</p></div>
        <div class="col">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">

                <label class="btn btn-secondary active">
                    <input type="radio" name="options" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> Nope
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Submit a Comment:</label>
        <textarea class="form-control" name="comment" rows="5" id="comment"></textarea>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-default">Submit Review</button>
    </form>
</div>




{% endblock %}