{% extends "public/base.html" %}

{% block content %}
<head>
<title>Search Results</title>
</head>
<div class="container-fluid text-center">

    <div class="row content">
          <div class="col-sm-2 sidenav"></div>

          <div class="col-sm-8">
          <h4>Your search for "{{query}}" returned {{ class_list|length }} results.</h4><br>
              {% for class in class_list %}
              <a href="{% url 'class' class %}">
                  <div class="card">
                      <div class="card-body">
                          <span><h4>{{class.course_id}}:&nbsp;{{class.full_title}}</h4></span>
                          <div>{{class.instructor}} | {{class.days}} | {{class.times}}</div>
                          <h4 class="card-title"></h4>
                      </div>
                  </div>
              </a>
              <br>
              {% endfor %}
          </div>

          <div class="col-sm-2 sidenav"></div>
    </div>

</div>
{% endblock %}
