{% extends "public/base.html" %}

{% block content %}
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Course List</h2>

<table>
    ### make for loop
  <tr>
    <th>Class</th>
    <th>Instructor</th>
    <th>Gen Eds.</th>
  </tr>
  <tr>
    <td>Intro to CS</td>
    <td>Libby Shoop</td>
    <td>Quantitative Thinking Q2</td>
  </tr>
  <tr>
    <td>Object Oriented Programming</td>
    <td>Daniel Kluver</td>
    <td>Natural science and mathematics</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>

{% endblock %}